# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
build
dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
.rpt2_cache

lerna-debug.log*
lerna-error.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

TODO.md
packages/testing/
packages/plugin-stealth/
packages/puppeteer-extra2/
packages/puppeteer-extra-old/
packages/test-*
packages/internal-testing-*
testing/

*.tgz*

packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/index.js
packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.js
packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.js
packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.js
packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.js
packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.js
packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.js
packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.js
packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.js
packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.js
packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.js
packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.js
packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.js
packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.js
packages/puppeteer-extra-plugin-stealth/evasions/_template/index.js
packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.js
packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
packages/puppeteer-extra-plugin-stealth/index.js
packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/magicArray.js
packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/mimeTypes.js
packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/plugins.js
packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/functionMocks.js
packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.test.js
packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.test.js
packages/puppeteer-extra-plugin-stealth/test/util.js
packages/puppeteer-extra-plugin-recaptcha/package-lock.json
packages/puppeteer-extra-plugin-stealth/index.test.js
packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
packages/puppeteer-extra-plugin-stealth/test/fpscanner.test.js
packages/puppeteer-extra-plugin-stealth/test/service-worker.test.js
.vscode/launch.json
